@import "../assets/fonts/fontawesome-free-6.5.1-web/css/all.min.css";
.btn {
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: Inter;
  font-size: 1.4rem;
  color: #1d1d1d;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  text-wrap: nowrap;
}
.btn-login {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn-add-to-cart {
  background-color: #14707d;
  color: #ffffff;
  padding: 1.2rem 3.55rem;
  border-radius: 0.8rem;
}
.btn-more-toggler {
  color: rgba(29, 29, 29, 0.5);
  line-height: 2.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 1rem 0.5rem 0;
  margin-top: 1.5rem;
}
.btn-black {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.37rem;
  border-radius: 0.8rem;
  padding: 1.5rem 3.3rem;
  text-transform: uppercase;
  font-weight: 400;
}
.btn-icon {
  font-size: 3.6rem;
}
.btn-icon_vk {
  color: #4c75a3;
}
.btn-icon_telegram {
  color: #229ed9;
}

.link {
  line-height: 1.71;
  color: #7b7c85;
  white-space: nowrap;
}
.link::after {
  transform: scaleX(0);
  display: block;
  content: "";
  height: 2px;
  background-color: #14707d;
  transition: 0.3s ease-in-out;
}
.link:focus::after, .link:hover::after {
  width: 100%;
  transform: scaleX(1);
}

.cross {
  height: -moz-min-content;
  height: min-content;
}

.header {
  width: 100%;
}
.header__top {
  position: relative;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: solid 0.8px rgba(29, 29, 29, 0.07);
}
.header__top-left {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.city {
  display: flex;
  align-items: center;
}
.city i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}
.city-link {
  line-height: 1.71;
  border-bottom: 1px dashed #1d1d1d;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
  padding: 0;
}

.menu {
  display: flex;
  gap: 8rem;
}
.menu i {
  font-size: 1.8rem;
}
.menu-mobile {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  transition: 0.2s ease-out;
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: start;
  background-color: #ffffff;
  border-right: 2px solid black;
  z-index: 3;
}
.menu-mobile-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid rgba(29, 29, 29, 0.07);
}
.menu-mobile-logo {
  width: 10rem;
}
.menu-mobile-logo img {
  width: 100%;
}
.menu-mobile-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.menu-mobile__container {
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}
.menu-mobile-background {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}
.menu-item {
  padding: 2rem 2.8rem;
  border-bottom: 1px solid rgba(29, 29, 29, 0.07);
  transition: 0.3s;
}
.menu-item:hover {
  background-color: #1bcbb7;
  transition: 0.3s;
}
.menu-item i {
  margin-right: 3.5rem;
  font-size: 2rem;
}
.menu-active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
  transition: 0.2s ease-out;
}
.menu-mobile__container_active {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s;
}
.menu-link {
  display: flex;
  align-items: center;
  color: #7b7c85;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  height: 65px;
}

.crown {
  color: gold;
  margin-right: 0.5rem;
}

.cross {
  font-size: 2rem;
}

.btn-menu {
  display: none;
}

.body-noscroll {
  overflow-y: hidden;
}

@media screen and (max-width: 1119px) {
  .menu {
    gap: 5rem;
  }
}
@media screen and (max-width: 899px) {
  .menu {
    gap: 1.5rem;
  }
  .header__bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .header-nav {
    justify-content: start;
    gap: 2rem;
    overflow-x: scroll;
  }
  .header-nav::-webkit-scrollbar {
    width: 50%;
    height: 0.5rem;
  }
  .header-nav::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, transparent, #1d1d1d);
    border-radius: 8px;
  }
  .header-nav::-webkit-scrollbar-track {
    background-color: rgba(62, 62, 62, 0.231372549);
    border-radius: 8px;
    width: 50%;
  }
}
@media screen and (max-width: 899px) {
  .btn-menu {
    display: block;
    padding-left: 0;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .menu-mobile {
    width: 100%;
  }
}
@media screen and (max-width: 399px) {
  .header__top {
    justify-content: start;
  }
  .header__top .logo {
    position: static;
    transform: translateX(0px);
  }
  .city {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 10px;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  margin: 0 auto;
  height: 20vw;
  width: 100%;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-btn {
  width: 40px;
  height: 40px;
  font-size: 10px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: -1px 1px 16px 0 rgba(140, 140, 140, 0.15);
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.swiper-btn_left {
  left: 0;
}
.swiper-btn_right {
  right: 0;
}
.swiper-btn:hover {
  background-color: rgba(29, 29, 29, 0.7);
  color: #fff;
}
.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  transition: 0.2s ease-out;
}
.swiper-slide {
  flex-shrink: 0;
  height: auto;
  background-color: lightblue;
  width: 0;
  border-radius: 8px;
}
.swiper-slide_active {
  height: auto;
}
.swiper-slide .slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: visible;
}
.swiper-slide .slide img {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
.swiper-rings {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 3;
}
.swiper-rings .ring {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
}
.swiper-rings .ring-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #fff;
}

@media screen and (max-width: 1500px) {
  .swiper-rings .ring {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
  }
  .swiper-rings .ring-active::before {
    width: 7.5px;
    height: 7.5px;
  }
}
@media screen and (max-width: 1200px) {
  .swiper-btn {
    font-size: 7px;
    border-radius: 6px;
    width: 30px;
    height: 30px;
  }
  .swiper-rings .ring {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }
  .swiper-rings .ring-active::before {
    width: 5px;
    height: 5px;
  }
}
@media screen and (max-width: 800px) {
  .slider {
    height: 33vw;
  }
  .swiper-rings {
    bottom: 8%;
    gap: 7px;
  }
}
@media screen and (max-width: 480px) {
  .swiper-rings {
    display: none;
    gap: 5px;
  }
  .swiper-rings .ring {
    width: 7px;
    height: 7px;
  }
  .swiper-rings .ring-active::before {
    width: 3px;
    height: 3px;
  }
  .swiper-btn {
    font-size: 6px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
  }
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.footer__top {
  width: 100%;
  border-bottom: solid 0.8px #d4d7db;
}
.footer__blocks {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.footer__block {
  padding: 1.5rem 1.5rem 0 0;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer__block:last-child {
  padding-right: 0;
}
.footer-title {
  text-transform: uppercase;
  color: #333333;
}
.footer-link {
  font-size: 1.6rem;
  padding-left: 0;
  color: rgba(29, 29, 29, 0.5);
}
.footer-link_mail {
  text-transform: uppercase;
  color: rgba(29, 29, 29, 0.5);
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__links {
  margin: 3rem 0;
}
.footer__bottom {
  width: 100%;
}
.footer__bottom__inner {
  display: flex;
  padding: 1.5rem 3rem;
}
.footer .copyright {
  color: rgba(29, 29, 29, 0.5);
  padding: 1.5rem 4rem 1.5rem 0;
}
.footer .paymentsystems {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1159px) {
  .footer__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 899px) {
  .footer__blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Inter", "Arial Narrow", Arial, sans-serif;
  color: #1d1d1d;
  background-color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1592px;
  height: 100%;
  padding: 0 20px;
}

.swiper .wrapper {
  position: relative;
  transform: translateY(-100%);
}
.swiper .wrapper .swiper-btn_left {
  transform: translateX(50%);
}
.swiper .wrapper .swiper-btn_right {
  transform: translateX(-50%);
}

.upper {
  text-transform: uppercase;
}

.disabled {
  display: none;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.38;
  margin-bottom: 3rem;
  color: #1d1d1d;
}
.title-work {
  color: #1d1d1d;
  line-height: 1.42;
  font-size: 2.4rem;
  font-weight: 700;
}

.slider {
  margin: 0 auto;
}

.product-grid {
  margin-bottom: 5.6rem;
}

.product-grid__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: 8px 8px 16px rgba(117, 118, 132, 0.1450980392);
}
.product-text {
  padding: 2.4rem;
}
.product-text .description {
  font-size: 1.5rem;
  line-height: 1.61;
  margin-bottom: 1.6rem;
}
.product-text .name {
  margin-bottom: 1.4rem;
}
.product-text .name a {
  font-size: 1.6rem;
  color: #333333;
  text-transform: uppercase;
  padding: 5px 10px 5px 0;
}
.product-text .composition {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  color: #7b7c85;
  margin-bottom: 2.9rem;
}
.product-img__cont {
  width: 100%;
}
.product-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.product__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__bottom .price {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.product__bottom .price-current {
  color: #14707d;
  font-size: 1.73rem;
  margin-right: 1.6rem;
}
.product__bottom .price-previous {
  font-size: 1.43rem;
  text-decoration: line-through;
}
.product .tags {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.product .tags .tag {
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 0.4rem;
}
.product .tags .tag-new {
  background-color: #2452d4;
}
.product .tags .tag-promo {
  background-color: #e60000;
}
.product .tags .tag-persons {
  background-color: #2faf00;
}
.product .tags .tag-mini {
  background-color: #f43c7f;
}
.product .tags .tag-hit {
  background-color: #a447af;
}
.product .tags .tag-baked {
  background-color: #d2691e;
}
.product .tags .tag-spicy {
  background-color: #f95e5e;
}

.story {
  width: 100%;
  display: flex;
  justify-content: center;
  border-left: 0.8px solid #d4d7db;
  padding-left: 3rem;
  margin-bottom: 8.8rem;
}
.story__inner {
  max-width: 95.5rem;
  display: flex;
  flex-direction: column;
}
.story-text {
  color: rgba(29, 29, 29, 0.5);
  line-height: 2.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.story-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  text-decoration: underline;
  margin: 3rem 0;
  font-weight: 400;
}
.story-list_item {
  position: relative;
  color: rgba(29, 29, 29, 0.5);
  line-height: 2.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 1rem 0;
}
.story-list_item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2rem;
  width: 2px;
  height: 2px;
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 5px;
}

.work-offer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 8px 8px 16px 0 rgba(117, 118, 132, 0.15);
  background-image: linear-gradient(91deg, #f3f9ff 0%, #fff5ec 100%);
  margin-bottom: 5rem;
}
.work-offer__par {
  line-height: 1.42;
  font-size: 2.4rem;
}

@media screen and (max-width: 1499px) {
  .product-grid__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1159px) {
  .price {
    flex-direction: column !important;
    align-items: start !important;
  }
  .price-current {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 899px) {
  .product-grid__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .price {
    flex-direction: row !important;
    align-items: center !important;
  }
  .price-current {
    margin-right: 1.6rem !important;
  }
}
@media screen and (max-width: 749px) {
  .price {
    flex-direction: column !important;
    align-items: start !important;
  }
  .price-current {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 599px) {
  .product-grid__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .price {
    flex-direction: row !important;
    align-items: center !important;
  }
  .price-current {
    margin-right: 1.6rem !important;
  }
}/*# sourceMappingURL=index.css.map */