

.btn {
    position: relative;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: none;
    font-family: Inter;
    font-size: 1.4rem;
    color: c.$primaryTextColor;
    padding: 0.5rem 1rem;
    transition: .2s;
    text-wrap: nowrap;
    &-login {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 1px;
        background-color: black;
    }
    &:hover {
        // background-color:  rgba(29, 29, 29, 0.07);
        // border-radius: 0.8rem;
        // color: c.$primaryTextColor;
        position: relative;
        transition: .2s;
    }
    &-add-to-cart {
        background-color: c.$productPrimaryColor;
        color: c.$primaryBackgroundColor;
        padding: 1.2rem 3.55rem;
        border-radius: 0.8rem;
    }
    &-more-toggler {
        color: rgba(29,29,29,.5);
        line-height: 2.1rem;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.5rem 1rem 0.5rem 0;
        margin-top: 1.5rem;
    }
    &-black {
        background-color: #000000;
        color: c.$primaryBackgroundColor;
        font-size: 1.37rem;
        border-radius: 0.8rem;
        padding: 1.5rem 3.3rem;
        text-transform: uppercase;
        font-weight: 400;
    }
    &-icon {
        font-size: 3.6rem;
        &_vk {
            color: #4C75A3;
        }
        &_telegram {
            color: #229ED9;
        }
    }
    &-menu {
        display: none;
    }
}

.link {
    line-height: 1.71;
    color: c.$lightGray;
}